<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00A9D9F31D63093000CF9B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A9DA0C1D63093100CF9B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A9DA171D63093100CF9B95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
