<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>keyboard_a_00</string>
		<key>title</key>
		<string>打招呼</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_01</string>
		<key>title</key>
		<string>疑问</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_02</string>
		<key>title</key>
		<string>惊讶</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_03</string>
		<key>title</key>
		<string>尴尬</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_04</string>
		<key>title</key>
		<string>委屈</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_05</string>
		<key>title</key>
		<string>做鬼脸</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_06</string>
		<key>title</key>
		<string>无语</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_07</string>
		<key>title</key>
		<string>示爱</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_08</string>
		<key>title</key>
		<string>泡</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_09</string>
		<key>title</key>
		<string>鄙视</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_10</string>
		<key>title</key>
		<string>可爱</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_11</string>
		<key>title</key>
		<string>乖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_12</string>
		<key>title</key>
		<string>生气</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_13</string>
		<key>title</key>
		<string>舒服</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_14</string>
		<key>title</key>
		<string>怒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_15</string>
		<key>title</key>
		<string>傲娇</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_16</string>
		<key>title</key>
		<string>羞涩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_17</string>
		<key>title</key>
		<string>爱你</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_18</string>
		<key>title</key>
		<string>伤心</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_19</string>
		<key>title</key>
		<string>发呆</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_20</string>
		<key>title</key>
		<string>不开心</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_21</string>
		<key>title</key>
		<string>可爱</string>
	</dict>
	<dict>
		<key>image</key>
		<string>keyboard_a_22</string>
		<key>title</key>
		<string>得意</string>
	</dict>
</array>
</plist>
